.hero {
  min-width: 480px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero480.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero480@2x.jpg);
  }

  @media (min-width: 768px) {
    min-width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero768.jpg);
  }

  @media (min-width: 1200px) {
    min-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero1600.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white-text;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 30px;

  color: $white-text;
  background-color: $sky-text;
  border: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
